@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Recursive:wght@300&display=swap');

.img-thumbnail{

  border: none;
 }

.main-card-login {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto !important;
}

h5 {
  color: rgb(0, 176, 221);
}
.main-card-login a {
  color: black !important;
}

.main-card-login a:hover {
  color: rgb(0, 176, 221) !important;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.logo-text{

  font-family: 'Recursive', sans-serif;
  font-size: 1.5rem;
}
.pay-logo{

  color: rgb(0, 176, 221);
  font-family: 'Cedarville Cursive', cursive;

}

.main-card-kyc{


  margin-top: 50px;
  margin-bottom: 50px;
 
  
}

.card{

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

footer{

  background: #11959D;
  color: white;
  position:fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  
}

input[type="date"]{
  background-color: rgb(0, 176, 221);
  padding: 15px;
  top: 50%;
  left: 50%;
  font-family: "Roboto Mono",monospace;
  color: #ffffff;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="date"]:hover{

  background: #11959D;
  color: #ffffff;
}

@media only screen and (max-height: 0px) {

  footer{

    position:static;


  }
  
}

.htwo{

  background: #11959D;
}

.htwo a{

  color: #ffffff;
  cursor: pointer;

  
}

.htwo a:hover{

  color: rgb(243, 242, 242) !important;
}

.bi-arrow-right-square-fill{

  color: rgb(2, 84, 2) !important;
}

h6{

  color: green;
}

i:hover{

  cursor: pointer;
}