@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Recursive:wght@300&display=swap");

* {
  font-size: 15px;
}
.img-thumbnail {
  border: none;
}

.header {
  background: #005fa3;
}

.main-card-login {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto !important;
}

h5 {
  color: #005fa3;
}
.main-card-login a {
  color: black !important;
}

.main-card-login a:hover {
  color: #005fa3;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.logo-text {
  font-family: "Recursive", sans-serif;
  font-size: 1.8rem;
  color: #ffffff;
}

.logo-text:hover {
  color: #ffffff;
}
.pay-logo {
  color: rgb(255, 255, 255);
  font-family: "Cedarville Cursive", cursive;
}

.main-card-kyc {
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  background: #005fa3;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

input[type="date"] {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  top: 50%;
  left: 50%;
  font-family: "Roboto Mono", monospace;
  color: #000000;
  font-size: 14px;
  border: none;
  outline: none;
  border: 1px solid rgb(2, 84, 2);
  border-radius: 5px;
  cursor: pointer;
}
input[type="date"]:hover {
  background: #a4d9ff;
  color: #272626;
}

@media only screen and (max-height: 0px) {
  footer {
    position: static;
  }
}

.htwo {
  background: #005fa3;
}

.htwo a {
  color: #ffffff;
  cursor: pointer;
}

.htwo a:hover {
  color: rgb(237, 239, 238) !important;
}

.bi-arrow-right-square-fill {
  color: rgb(2, 84, 2) !important;
}

i:hover {
  cursor: pointer;
}

.bi-power:hover {
  cursor: pointer;
  color: rgb(0, 221, 255) !important;
}

select {
  margin-left: 0.1rem !important;
  border: 1px solid #acacac !important;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-label {
  color: #005fa3;
  font-weight: bold;
}

.bi-bell-fill {
  color: #ffffff;
}

.bi-bell-fill:hover {
  color: rgb(231, 231, 231);
}

.midsection {
  margin: 0;
  padding: 0;
  float: left;
}
.main {
  width: 100%;
  margin: 0;
  padding: 2px;
}
.midsection {
  width: 100%;
}
.card-container {
  width: 100%;
}

.home {
  background: #f5f7fd;
  padding: 20px;
  position: relative;
}

.list-group li {
  font-weight: bold !important;
  color: #5f5b5b;
}

.list-group li:hover {
  font-weight: bold !important;
  color: #ffffff;
  cursor: pointer;
  background-color: #005fa3;
}

.viewmore {
  background: white;
  color: #5f5b5b;
  font-weight: bold;
  border: 1px solid black;
}

.viewmore:hover {
  background: #005fa3;
  cursor: pointer;
  border: 1px solid beige;
}

.chakra-button {
  background: #005fa3 !important;
  color: white !important;
}

.chakra-button:hover {
  background: white !important;
  color: #005fa3 !important;
}

.btnopt {
  background: none !important;
  color: #5f5b5b !important;
}

.btnopt:hover {
  background: none !important;
  font-weight: bold !important;
}

.btn-success {
  color: #005fa3;
  background: white;
  border: 1px solid #005fa3;
  font-weight: bold;
}

.btn-success:hover {
  color: white;
  background: #005fa3;
  border: none;
}

.notbox {
  height: auto;
  width: 30vh;
  border: 1px solid black;
  margin-left: 95rem;
  margin-top: 0rem;
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid beige;
  z-index: 20;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #010101;
}

.input-custom {
  border: 1px solid rgb(0, 68, 215);
  padding: 10px;
  margin-left: 5px;
  width: 23rem;
  outline: none;
  border-radius: 5px;
}

input[type="text"]:focus {
  border: 1.9px solid #029a4c;
}

input[type="number"]:focus {
  border: 1.9px solid #029a4c;
}

.dynamic-form {
  width: 40rem;
  margin-left: 40rem;
  margin-top: 2rem;
  padding: 4rem;
  height: auto;
  border: 0.1px solid rgb(229, 227, 227);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}


